div.products-section {
  .first-list,
  .second-list {
    display: flex;
    gap: 2rem;
    position: absolute;
    left: 24.3vw;
  }

  .first-list {
    top: 27rem;
  }

  .second-list {
    top: 42rem;
  }
}
