@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

@mixin reset {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  @include reset();

  font-family: 'Inter', sans-serif;
}