$aside-background-color: #1e1e1e;
$aside-button-color: #0300ab;

aside {
  background-color: $aside-background-color;

  width: 21vw;
  padding-top: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  & > img {
    height: 2.75rem;

    cursor: pointer;
  }

  & > button {
    padding: 0.8rem;
    width: 80%;

    background-color: $aside-button-color;
    color: #fff;
    font-weight: 700;
    border-radius: 2rem;
    border-color: $aside-button-color;

    text-transform: uppercase;

    transition: all 0.2s ease;

    &:hover {
      cursor: pointer;

      background: unset;
      border-color: #fff;
    }
  }

  & > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;

    li {
      color: #fff;
    }
  }
}
